[config]
# the texture to use
texture = simple2_traction.png
# the default terrain to be used, if not using landuse its 'gravel'
defaultuse = asphalt
# the friction config to load, multiple lines possible to load multiple files
loadGroundModelsConfig = simple2_groundmodel.cfg
 
# the colour <--> ground type coupling
[use-map]
#colour format explanation: 0x[fixed!](2 Alpha Char)(2 Red Char)(2 Green Char)(2 Blue Char)

0xff000000 = asphalt